{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Line Shopper</h1>

    <p>We might not always make the right pick but we always take the best odds!</p>

        <!-- SEE: https://getbootstrap.com/docs/5.2/components/carousel/ -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.economist.com/cdn-cgi/image/width=1424,quality=80,format=auto/content-assets/images/20240127_FND001.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="https://substackcdn.com/image/fetch/$s_!NLiI!,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F5b9abb08-f0d8-4538-82a3-38b2fdee9624_1024x1024.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

{% endblock %}